<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".presentation.checkout.CheckoutActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.checkout.PayOrc3DSActivity"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".presentation.embedded.tabby.PayOrcTabbyDirectActivity"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".presentation.embedded.googlepay.PayOrcGooglePayDirectActivity"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
    </application>

</manifest>